{% extends 'layout.html' %}
{% block content %}
<h1>代码上传情况</h1>
<table border="1" cellspacing="0" style="collapse: collapse">
    <thead>
    <tr>
        <th>ID</th>
        <th>行数</th>
        <th>日期</th>
    </tr>
    <tbody>
    {% for row in data_list %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.line}}</td>
        <td>{{row.ctime}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </thead>
</table>


<div></div>
<script src="/static/echarts.min.js"></script>

 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: [{% for row in data_list %}'{{ row.ctime }}', {% endfor %}]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [{% for row in data_list %}'{{ row.line }}', {% endfor %}]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}