<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>

<form method="post">
    <div><input id="user" type="text" name="user">用户名</div>
    <div><input id="pwd" type="password" name="pwd">密码</div>
    <input id="btn" type="button" value="OK">{{error}} <span id="ajaxMsg"></span>
</form>
<script>
    $("#btn").click(function () {
        var user = $("#user").val()
        var pwd = $("#pwd").val()
        $.ajax({
            url: "/login_ajax",
            type: "GET",
            data: {user: user, pwd: pwd},
            success: function (result) {
                if (result == "True") {
                    location.href = '/home';
                }
                else {
                    $("#ajaxMsg").text("用户名密码错误");
                }


            }
        })
    })


</script>


</body>
</html>